body {
    background-color: orange;
}
h1 {
    font-size: 50px;
}
a {
    color: black;
    text-decoration: none;
}
.text-small {
    color: black;
    font-size: 25px;
}
.text-big {
    font-size: 35px;
}
.color-white {
    color: white;
}